# Đồ án cuối kì: Lập trình cho khoa học dữ liệu

Họ tên: Nguyễn Phúc Mạnh

MSSV: 1712590

## Import

In [8]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

## Lấy dữ liệu

Dữ liệu được dùng trong đồ án này là file "books.csv" đính kèm; đây là dữ liệu về sách trên trang web [goodreads.com](https://www.goodreads.com/), một trang web nơi mọi người chia sẻ với nhau về sách. Dữ liệu này được lấy từ [kaggle](https://www.kaggle.com/jealousleopard/goodreadsbooks), tác giả đã dùng Goodreads API để lấy dữ liệu.

In [5]:
## Khám phá dữ liệu

In [11]:
### Đọc dữ liệu từ file csv vào dataframe

In [14]:
df = pd.read_csv('books.csv', error_bad_lines = False) #loại bỏ các dòng có định dạng sai
df.head()

b'Skipping line 3350: expected 12 fields, saw 13\nSkipping line 4704: expected 12 fields, saw 13\nSkipping line 5879: expected 12 fields, saw 13\nSkipping line 8981: expected 12 fields, saw 13\n'

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,0439682584,9780439682589,eng,2690,41428,164,9/13/2004,Scholastic

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11123 entries, 0 to 11122
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              11123 non-null  int64
 1   title               11123 non-null  object
 2   authors             11123 non-null  object
 3   average_rating      11123 non-null  float64
 4   isbn                11123 non-null  object
 5   isbn13              11123 non-null  int64
 6   language_code       11123 non-null  object
 7     num_pages         11123 non-null  int64
 8   ratings_count       11123 non-null  int64
 9   text_reviews_count  11123 non-null  int64
 10  publication_date    11123 non-null  object
 11  publisher           11123 non-null  object
dtypes: float64(1), int64(5), object(6)
memory usage: 1.0+ MB

### Dữ liệu gồm có bao nhiêu dòng và bao nhiêu cột?

In [21]:
num_rows, num_cols = df.shape

In [25]:
print('Số dòng: {}\nSố cột: {}'.format(num_rows, num_cols))

Số dòng: 11123
Số cột: 12

### Mỗi dòng và mỗi cột có ý nghĩa gì?

Mô tả về mỗi cột của dữ liệu:
- `bookID` id riêng cho mỗi cuốn sách              
- `title    `      tên sách 
- `authors `            tác giả 
- `average_rating  `    điểm đánh giá trung bình (dùng thang đo 1-5 sao)
- `isbn     `           cũng là id (International Standard Book Number).
- `isbn13`             cũng là id, nhưng 13 số :) 
- `language_code `      ngôn ngữ gốc của cuốn sách
- `num_pages`         số trang
- `ratings_count `      tổng số lượt đánh giá (bằng sao)
- `text_reviews_count`  tổng số đánh giá bằng chữ (bằng comment)
- `publication_date`    ngày xuất bản
- `publisher`      nhà xuất bản   

Nhìn vào dữ liệu có thể thấy mỗi dòng mô tả thông tin về một cuốn sách

In [ ]:
### Mỗi cột  có dtype là gì?

In [ ]:
df.info()